<div class="container">
  <div class="float-right">
    <label for="sorting">Sort: </label>
    <select class="" id="sorting" (change)="sortProducts($event.target.value)">
      <option *ngFor="let option of sortOption" [value]="option.value">{{
        option.name
      }}</option>
    </select>
  </div>
</div>
<br />

<div class="container mt-2">
  <h4>Product List 2</h4>
  <cdk-virtual-scroll-viewport itemSize="100">
    <div
      class="card mb-3"
      style="max-width: 100%;"
      *cdkVirtualFor="let product of products"
    >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="../../../assets/images/sofa-1.jpg"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">{{ product.title }}</h4>
            <p class="card-text text-justify">
              {{ product.description }}
            </p>
            <div class="mt-lg-5">
              <span class="font-weight-bold btn">₹ {{ product.price }}</span>

              <button
                class="btn btn-outline-danger btn-sm float-right"
                (click)="
                  addToCart(product.id, product.title, product.price, '1')
                "
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
