<!-- main div starts here -->
<div class="mx-xs-2 mx-sm-2 mx-md-2 mx-lg-5 px-2" id="div-main">
  <div class="row mt-2">
    <!-- filter palette div starts here -->
    <div
      id="div-filter-palette"
      class="col-md-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-block mt-lg-4 mt-xl-4"
    >
      <app-filter-palette></app-filter-palette>
    </div>
    <!-- filter-palette-div  ends here -->

    <!-- div-all-products starts here -->
    <div
      class="col-xs-9 col-sm-12 col-md-12 col-lg-10 col-xl-10"
      id="div-all-products"
    >
      <!-- container for filter button and sort dropdown starts -->
      <div class="container">
        <!-- div for filter button and sorting pannel -->
        <div class="row px-xs-3" id="div-filter-sort-palette">
          <div class="col-xs-2 d-lg-none d-xl-none" id="filter-button">
            <i
              class="fa fa-filter btn btn-sm dropdown-toggle"
              aria-hidden="true"
              (click)="toggleFilterPalette()"
            ></i>

            <app-side-filter-palette
              [showMe]="showFilterPalette"
            ></app-side-filter-palette>
          </div>
          <!-- sort product dropdown starts here -->
          <div class="col-xs-10 ml-auto" id="sort-product-dropdown">
            <label for="sorting" class="">Sort : </label>
            <select
              class=""
              id="sorting"
              (change)="sortProducts($event.target.value)"
            >
              <option
                *ngFor="let option of sortOption"
                [value]="option.value"
                >{{ option.name }}</option
              >
            </select>
          </div>
          <!-- sort product drop down ends here -->
        </div>
        <!-- filter-button-sort-palette div ends here -->
      </div>
      <!-- container for filter button and sort dropdown ends -->

      <cdk-virtual-scroll-viewport itemSize="90">
        <div
          class="card mb-3"
          style="max-width: 100%;"
          *cdkVirtualFor="let product of products"
        >
          <div class="row no-gutters">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <img
                src="../../../assets/images/sofa-1.jpg"
                class="card-img"
                alt="..."
              />
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="card-body">
                <h4 class="card-title font-weight-bold">{{ product.title }}</h4>
                <p class="card-text text-justify">
                  {{ product.description }}
                </p>
                <div class="mt-lg-5">
                  <span class="font-weight-bold btn"
                    >₹ {{ product.price }}</span
                  >

                  <button
                    class="btn btn-outline-danger btn-sm float-right"
                    (click)="
                      addToCart(product.id, product.title, product.price, '1')
                    "
                  >
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
