<div class="container" *ngIf="authService.user">
  <h3>Cart</h3>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="row">Photo</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price ( <i class="fa fa-rupee"></i> )</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartService.cart">
        <td>
          <img
            src="../../../assets/images/mobile-resize-1.jpg"
            class="img-thumbnail"
          />
        </td>
        <td>{{ item.title }}</td>
        <td>
          <input
            type="number"
            name="productQty"
            min="1"
            max="10"
            [value]="item.quantity"
            (change)="
              updateProductQuantity(item.id, item.price, item.title, $event)
            "
          />
        </td>
        <td><i class="fa fa-rupee"></i> {{ item.price }}</td>
        <td>
          <i
            class="btn fa fa-trash"
            (click)="removeItem(item.id, item.price, item.quantity, item.title)"
          ></i>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>
          <span class="font-weight-bold"
            ><i class="fa fa-rupee"></i>{{ cartService.cartTotal }}</span
          >
        </td>
        <td><button class="btn btn-danger btn-md">Checkout</button></td>
      </tr>
    </tbody>
  </table>
</div>
