.form-control {
  max-width: 4em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  padding: 3px 6px;
}

.btn-quantity {
  border: solid 1px gray;
  border-radius: 50%;
  background-color: #fff;
  margin: 0.25em;
  padding: 0.3em;
  width: 2em;
}

.btn-quantity:focus {
  outline: none;
}

#carouselExampleIndicators {
  padding: 0.25em;
  box-shadow: 0.25em 0.25em 0.5em 0.25em rgb(214, 214, 214);
}
