<app-carousel></app-carousel>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        src="../../../assets/images/sofa-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <button
          class="btn btn-outline-secondary btn-md"
          (click)="AllProducts()"
        >
          Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../assets/images/living-room-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <button
            class="btn btn-outline-secondary btn-md"
            (click)="AllProducts()"
          >
            Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../assets/images/living-room-2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
        <p class="card-text">
          <button
            class="btn btn-outline-secondary btn-md"
            (click)="AllProducts()"
          >
            Explore <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
