cdk-virtual-scroll-viewport {
  height: 900px;
  width: 100%;
  max-width: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card-deck {
  padding-bottom: 2rem;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.4s;
}
