<app-carousel></app-carousel>

<div class="container pb-lg-4">
  <h4 class="text-center">All Products (Virtual Scrollbar)</h4>
  <cdk-virtual-scroll-viewport itemSize="100">
    <div class="row">
      <div
        class="col-xm-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 py-2" id="product-div"
        *cdkVirtualFor="let product of products"
      >
        <div class="card">
          <img src="../../../assets/images/img-1.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text text-justify">
              {{ product.description }}
            </p>
            <span class="font-weight-bold"> ₹{{ product.price }}</span>
            <div class="card text-right">
              <a href="#" class="btn btn-outline-danger btn-sm">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
