<div class="">
  <div class="px-2 py-1 card">
    <h2 class="font-weight-bold">Filters</h2>

    <div class="" id="product-condition">
      <h5 class="font-weight-bold">Condition</h5>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" />
        <label class="custom-control-label" for="customCheck1">New</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2" />
        <label class="custom-control-label" for="customCheck2">Used</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3" />
        <label class="custom-control-label" for="customCheck3"
          >Refurbished</label
        >
      </div>
    </div>

    <div class="" id="price-filter-radio">
      <h5 class="font-weight-bold">Price</h5>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio1"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio1">Under 199</label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio2"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio2">Under 499</label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio3"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio3">Under 599</label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio4"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio4">Under 799</label>
      </div>
    </div>

    <div id="custom-price-input">
      <label for="customRange1">Price Range</label>
      <input type="range" class="custom-range" id="customRange1" />
    </div>

    <div class="" id="color-palette">
      <h5 class="font-weight-bold">Colors</h5>
      <div class="">
        <span class="color-circle brown"> </span>
        <span class="color-circle red"></span>
        <span class="color-circle blue"></span>
        <span class="color-circle yellow"></span>
        <span class="color-circle green"></span>
        <span class="color-circle white"></span>
        <span class="color-circle black"></span>
        <span class="color-circle gray"></span>
      </div>
    </div>
  </div>
</div>
