<div class="navbar-expand-lg p-1">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#filterPaletteSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="true"
    aria-label="Toggle navigation"
  >
    <i class="fa fa-filter dropdown-toggle" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="filterPaletteSupportedContent">
    <div class="px-2 py-1 card">
      <h4 class="">Filters</h4>

      <div class="my-2" id="product-condition">
        <h6 class="">Condition</h6>

        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label" for="customCheck1">New</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck2"
          />
          <label class="custom-control-label" for="customCheck2">Used</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck3"
          />
          <label class="custom-control-label" for="customCheck3"
            >Refurbished</label
          >
        </div>
      </div>

      <div class="mb-2" id="price-filter-radio">
        <h6 class="">Price</h6>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio1"
            name="customRadio"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadio1"
            >Under 199</label
          >
        </div>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio2"
            name="customRadio"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadio2"
            >Under 499</label
          >
        </div>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio3"
            name="customRadio"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadio3"
            >Under 599</label
          >
        </div>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio4"
            name="customRadio"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadio4"
            >Under 799</label
          >
        </div>
      </div>

      <div class="mb-2" id="custom-price-input">
        <h6 for="customRange1">Price Range</h6>
        <input type="range" class="custom-range" id="customRange1" />
      </div>

      <div class="" id="color-palette">
        <h6 class="">Colors</h6>
        <div class="">
          <span class="color-circle brown"> </span>
          <span class="color-circle red"></span>
          <span class="color-circle blue"></span>
          <span class="color-circle yellow"></span>
          <span class="color-circle green"></span>
          <span class="color-circle white"></span>
          <span class="color-circle black"></span>
          <span class="color-circle gray"></span>
        </div>
      </div>
    </div>
  </div>
</div>
